# Entorno virtual
venv/

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales de editor/IDE
.vscode/
.idea/

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de Jupyter Notebook checkpoints
.ipynb_checkpoints/